/* Stil für den Titel */
#title {
    -fx-font-size: 24px;
    -fx-text-fill: #2C3E50;
}

/* Stil für die Labels */
.label {
    -fx-font-size: 18px;
    -fx-text-fill: #2C3E50;
}

/* Stil für die VBoxen  */
#rucksackVBox, #itemsVBox, #sortiertVBox, #divideVBox, #conquerVBox {
    -fx-margin: 10px;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#matrixVBox, #treeVBox {
    -fx-margin: 10px;
    -fx-padding: 5px 0px 25px 0px;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#scrollpane {
    -fx-margin: 10px;
    -fx-padding: 5px 0px 25px 0px;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

/* Stil für die ButtonBoxen */
#rucksackButtonBox, #itemsButtonBox, #sortiertButtonBox {
    -fx-margin: 10px;
    -fx-padding: 10px;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px 0px 0px 0px;
}


#buttonBox {
    -fx-margin: 60px;
    -fx-padding: 10px;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

/* Stil für die Buttons */
.button {
    transition: all 0.1s ease-in-out;
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 24px;
    -fx-margin: 4px 2px;
}

.button:hover {
    -fx-background-color: #2980B9;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}